<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.3.0.60745 -->
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="{{ url_for('static', filename='style.ie7.css') }}" media="screen" /><![endif]-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.responsive.css') }}" media="all">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='script.responsive.js') }}"></script>
<meta name="description" content="Description">
<meta name="keywords" content="Keywords">




<style>.art-content .art-postcontent-0 .layout-item-0 { color: #51453B; padding-right: 10px;padding-left: 10px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header">

    <div class="art-shapes">
        
            </div>

<h1 class="art-headline">
    <a href="/">GSAM</a>
</h1>





                
                    
</header>
<div class="art-sheet clearfix">
<nav class="art-nav">
    <ul class="art-hmenu"><li><a href="home.html" class="active">Home</a></li><li><a href="contacts.html">Contacts</a></li><li><a href="map.html">Map</a></li><li><a href="new-page.html">New Page</a></li></ul> 
    </nav>
<div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-sidebar1"><div class="art-block clearfix">
        <div class="art-blockcontent"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra, tellus sit amet congue vulputate, nisi erat iaculis nibh, vitae feugiat sapien ante eget mauris.</p></div>
</div></div>
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                <h2 class="art-postheader">Home</h2>
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
       {% block body %}{% endblock %}<br><br>
    </div>
    </div>
</div>
</div>
                                
                

</article></div>
                        <div class="art-layout-cell art-sidebar2"><div class="art-block clearfix">
        <div class="art-blockcontent"><div>
  <form action="#" class="art-search" method="get" name="searchform">
    <input type="text" value="" name="s" />
    <input type="submit" value="Search" name="search" class="art-search-button" />
  </form>
</div></div>
</div><div class="art-block clearfix">
        <div class="art-blockcontent"><div>
  <p>Lorem ipsum dolor sit amet. Nam sit amet sem. Mauris a ante.</p>
  <ul>
    <li>
      <a href="#" title="All News">All News</a> (50)
    </li>
    <li>
      <a href="#" title="Best of the Year">Best of the Year</a> (4)
    </li>
    <li>
      <a href="#" title="Hyperlink">Hyperlink</a> (24)
    </li>
    <li>
      <a href="#" title="Visited link" class="visited">Visited link</a> (17)
    </li>
    <li>
      <a href="#" title="Hovered link" class="hover">Hovered link</a> (6)
    </li>
  </ul>
</div></div>
</div><div class="art-block clearfix">
        <div class="art-blockcontent"><div>
  <ul>
    <li>
      <a href="#" title="November 2008">November 2008</a>
    </li>
    <li>
      <a href="#" title="October 2008">October 2008</a>
    </li>
    <li>
      <a href="#" title="September 2008">September 2008</a>
    </li>
    <li>
      <a href="#" title="June 2008">June 2008</a>
    </li>
  </ul>
</div></div>
</div><div class="art-block clearfix">
        <div class="art-blockcontent"><div>
  <ul>
    <li>
      <a href="#">My first blog</a>
    </li>
    <li>
      <a href="#">Who will prevail?</a>
    </li>
    <li>
      <a href="#">Stay positive!</a>
    </li>
    <li>
      <a href="#">Oil still going up</a>
    </li>
    <li>
      <a href="#">Gripes and Grins</a>
    </li>
    <li>
      <a href="#">2012 Olympics</a>
    </li>
    <li>
      <a href="#">How to SEO</a>
    </li>
    <li>
      <a href="#">On Global Warming</a>
    </li>
    <li>
      <a href="#">Can you guess?</a>
    </li>
  </ul>
</div></div>
</div></div>
                    </div>
                </div>
            </div><footer class="art-footer">
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 30%">
        <p style="font: 20px 'Trebuchet MS';">Information</p>
        <br>
        <ul>
        <li><a href="#">ABOUT US</a></li>
        <li><a href="#">WORK TEAM</a></li>
        <li><a href="#">WHAT WE DO</a></li>
        <li><a href="#">CLIENTS</a></li>
        <li><a href="#">CONTACT US</a></li>
        </ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 37%">
        <p style="font: 20px 'Trebuchet MS';">Our Solutions</p>
        <br>
        <ul>
        <li><a href="#">STRATEGY AND MARKETING</a></li>
        <li><a href="#">OPERATIONS CONSULTING</a></li>
        <li><a href="#">INFORMATION TECHNOLOGY</a></li>
        <li><a href="#">TECHNOLOGY AND INNOVATION</a></li>
        <li><a href="#">MARKET ANALYTICS</a></li>
        </ul>
    </div><div class="art-layout-cell layout-item-0" style="width: 33%">
        <p style="font: 20px 'Trebuchet MS';">Follow Us</p>
        <br>
        <p><img width="32" height="32" alt="" src="{{ url_for('static', filename='images/1304593514_rss.png') }}" style="float: left; margin-right: 10px"></p>
        <p style="padding: 10px 0 15px">RSS</p>
        <p><img width="32" height="32" alt="" src="{{ url_for('static', filename='images/1304593517_facebook.png') }}" style="float: left; margin-right: 10px" class=""></p>
        <p style="padding: 10px 0 15px">Facebook</p>
        <p><img width="32" height="32" alt="" src="{{ url_for('static', filename='images/1304593520_twitter.png') }}" style="float: left; margin-right: 10px"></p>
        <p style="padding: 12px 0 15px">Twitter</p>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell" style="width: 100%">
        <p><br></p>
        <p style="text-align: center;">Icons by <a href="http://www.iconeden.com/">IconEden</a>, <a href="http://www.wpzoom.com/">David Ferreira</a> and <a href="http://dezinerfolio.com/">Navdeep Raj</a></p>
        <br>
        <br>
    </div>
    </div>
</div>

    <p class="art-page-footer">
        <span id="art-footnote-links"><a href="http://www.artisteer.com/" target="_blank">Web Template</a> created with Artisteer.</span>
    </p>
</footer>

    </div>
</div>


</body></html>