{% extends "ginn/index.html" %}
{% block body %}

{% from 'ginn/_formtool.html' import render_field %}
<form method="post" enctype="multipart/form-data">
    <dl>
        {{ render_field(forms.sector) }}
        {{ render_field(form.regions, id="make_select") }}
        {{ render_field(form.districts, id="make_select") }}
        {{ render_field(form.subdistricts, id="make_select") }}
        {{ render_field(form.villages, id="make_select") }}
        {{ render_field(forms.title) }}
        {{ render_field(forms.description) }}
        {{ render_field(forms.baseline) }}
        {{ render_field(forms.performance_indicator) }}
        {{ render_field(forms.budget) }}
        {{ render_field(forms.started) }}
        {{ render_field(forms.estimated_completion) }}
        {{ render_field(forms.media_gallery) }}
    </dl>
    <p><input type="submit" value="Add"></p>
</form>

{% endblock %}
<script src="{{ url_for('static', filename='dynamic.js') }}"></script>